<div class="container">
    <div class="card">
        <h3 class="text-center">Available Tools in Warehouse</h3>
        <div class="card-body">
            <table class="table table-striped" style="width:100%">
                <thead>
                    <th style="width:30%">Tool Name</th>
                    <th >Program</th>
                    <th>Date Last Updated</th>
                    <th>Language</th>
                    <th>Version</th>
                    <th>Total Available</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let warehouseQuantity of warehouseQuantities ">
                        <td>{{warehouseQuantity.toolName}}</td>
                        <td>{{warehouseQuantity.programName}}</td>
                        <td style="text-align: center">{{warehouseQuantity.dateCreated}}</td>
                        <td>{{warehouseQuantity.languagesName}}</td>
                        <td style="text-align: center">{{warehouseQuantity.version}}</td>
                        <td style="text-align: center">{{warehouseQuantity.quantityAvailable}}</td>
                        <td>
                            <tr>
        
                              <td><button  class='btn btn-primary' ><i class="fa fa-futboll-0">Disable/Enable</i></button></td>
                          <td><button  class='btn btn-info'
                            data-toggle="modal" data-target="#myModal">Update</button></td>
                          </tr>
                        <tr>
                          <td> <button  class='btn btn-info'>User Roles</button></td>
                          <td> <button  class='btn btn-info'>Renew</button></td>
                            </tr>
        
                          </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>