@import url("https://fonts.googleapis.com/css?family=Tangerine&family=Exo:wght@100;200");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Exo", sans-serif;
    background-color: aliceblue;
    margin: 0;
}