<div class="containe mt-3">
    <form>
      <div class="row jumbotron box8">
        <div class="col-sm-12 mx-t3 mb-4">
          <h2 class="text-center text-info">Add New Tool</h2>
        </div>
        <!--
        <div class="col-sm-6 form-group">
          <label for="tool">Tool Name</label>
          <input type="text" class="form-control" name="tool" id="tool" required>
        </div>
        -->
        <div class="col-sm-6 form-group">
            <label for="tool">Tool Name</label>
              <select class="form-control" required>
                  <option>Select a Tool</option>
                  <option value="Tool 1">Tool 1</option>
                  <option value="Tool 2">Tool 2</option>
              </select>

        </div>
        <div class="col-sm-6 form-group">
          <label for="language">Language</label>
          <select class="form-control" required>
            <option>Choose Language</option>
            <option value="Language 1">Language 1</option>
            <option value="Language 2">Language 2</option>
        </select>
        </div>
        <div class="col-sm-6 form-group">
          <label for="email">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="quantity" placeholder="Enter Quantities" required>
        </div>
        <div class="col-sm-6 form-group">
          <label for="address-2">Version</label>
          <input type="text" class="form-control" name="version" id="version" placeholder="Version i.e V 1.2.5" required>
        </div>
        <!--
        <div class="col-sm-4 form-group">
          <label for="State">State</label>
          <input type="address" class="form-control" name="State" id="State" placeholder="Enter your state name." required>
        </div>
        -->
        <div class="col-sm-6 form-group">
          <label for="Date">Date Entered</label>
          <input type="Date" name="dateEntered" class="form-control" id="dateEntered" placeholder="Enter Date" required>
        </div>
        <div class="col-sm-12 form-group mb-0">
          <button class="btn btn-primary float-right">Submit</button>
        </div>
  
      </div>
    </form>
  </div>